.confluence-icon-pdf,
.content-type-attachment-pdf {
    background: url("assets/icons/confluence-icon-pdf.svg") no-repeat;
}

.confluence-icon-image,
.content-type-attachment-image,
.content-type-attachment-jpg,
.content-type-attachment-gif,
.content-type-attachment-png {
    background: url("assets/icons/confluence-icon-image.svg") no-repeat;
}

.confluence-icon-code,
.content-type-attachment-code,
.content-type-attachment-xml,
.content-type-attachment-css,
.content-type-attachment-js,
.content-type-attachment-java,
.content-type-attachment-html {
    background: url("assets/icons/confluence-icon-code.svg") no-repeat;
}

.confluence-icon-zip,
.content-type-attachment-zip,
.content-type-attachment-jar {
    background: url("assets/icons/confluence-icon-zip.svg") no-repeat;
}

.confluence-icon-spreadsheet,
.content-type-attachment-spreadsheet,
.content-type-attachment-excel97-template,
.content-type-attachment-excel97,
.content-type-attachment-excel,
.content-type-attachment-excel-macro,
.content-type-attachment-excel-template {
    background: url("assets/icons/confluence-icon-spreadsheet.svg") no-repeat;
}

.confluence-icon-presentation,
.content-type-attachment-preso,
.content-type-attachment-powerpoint97,
.content-type-attachment-powerpoint97-template,
.content-type-attachment-powerpoint,
.content-type-attachment-powerpoint-macro,
.content-type-attachment-powerpoint-slideshow {
    background: url("assets/icons/confluence-icon-preso.svg") no-repeat;
}

.confluence-icon-file,
.content-type-attachment-text,
.content-type-attachment-file,
.content-type-attachment-word97-template,
.content-type-attachment-word97, 
.content-type-attachment-word,
.content-type-attachment-word-template,
.content-type-attachment-unknown {
    background: url("assets/icons/confluence-icon-file.svg") no-repeat;
}

.confluence-icon-multimedia,
.content-type-attachment-multimedia {
    background: url("assets/icons/confluence-icon-multimedia.svg") no-repeat;
}

.confluence-icon-video,
.content-type-attachment-multimedia-video {
    background: url("assets/icons/confluence-icon-video.svg") no-repeat;
}

.confluence-icon-audio,
.content-type-attachment-multimedia-audio {
    background: url("assets/icons/confluence-icon-audio.svg") no-repeat;
}