.confluence-icon-blogpost,
.content-type-blogpost {
    background: url("assets/icons/confluence-icon-blog.svg") no-repeat;
}

.confluence-icon-page,
.content-type-page {
    background: url("assets/icons/confluence-icon-page.svg") no-repeat;
}

.confluence-icon-question,
.content-type-question {
    background: url("assets/icons/confluence-icon-question.svg") no-repeat;
}

.confluence-icon-home,
.content-type-home {
    background: url("assets/icons/confluence-icon-home.svg") no-repeat;
}

.confluence-icon-space,
.content-type-space,
.content-type-spacedesc {
    background: url("assets/icons/confluence-icon-space.svg") no-repeat;
}

.confluence-icon-spaces,
.content-type-spaces {
    background: url("assets/icons/confluence-icon-spaces.svg") no-repeat;
}

.confluence-icon-profile,
.content-type-profile {
    background: url("assets/icons/confluence-icon-profile.svg") no-repeat;
}

.confluence-icon-personal-space,
.content-type-personal-space,
.content-type-personalspacedesc {
    background: url("assets/icons/confluence-icon-personal-space.svg") no-repeat;
}

.confluence-icon-comment,
.content-type-comment {
    background: url("assets/icons/confluence-icon-comment.svg") no-repeat;
}

.confluence-icon-comment-count,
.content-type-comment-count {
    background: url("assets/icons/confluence-icon-comment-count.svg") no-repeat;
}

.confluence-icon-like,
.content-type-like {
    background: url("assets/icons/confluence-icon-like.svg") no-repeat;
}

.confluence-icon-popular {
    background: url("assets/icons/confluence-icon-popular.svg") no-repeat;
}

.confluence-icon-all-updates {
    background: url("assets/icons/confluence-icon-all.svg") no-repeat;
}

.confluence-icon-starred {
    background: url("assets/icons/confluence-icon-starred.svg") no-repeat;
}

.confluence-icon-recently-worked-on {
    background: url("assets/icons/confluence-icon-recently-worked-on.svg") no-repeat;   
}

.confluence-icon-recently-viewed {
    background: url("assets/icons/confluence-icon-recently-viewed.svg") no-repeat;
}

.confluence-icon-blank-page {
    background: url("assets/icons/confluence-icon-blank-page.svg") no-repeat;
}

.confluence-icon-decision{
    background: url("assets/icons/confluence-icon-decision.svg") no-repeat;
}

.confluence-icon-folder {
    background: url("assets/icons/confluence-icon-folder.svg") no-repeat;
}

.confluence-icon-link {
    background: url("assets/icons/confluence-icon-link.svg") no-repeat;
}

.confluence-icon-meeting-notes {
    background: url("assets/icons/confluence-icon-meeting-notes.svg") no-repeat;
}

.confluence-icon-jira {
    background: url("assets/icons/confluence-icon-jira.svg") no-repeat;
}

.confluence-icon-requirements {
    background: url("assets/icons/confluence-icon-requirements.svg") no-repeat;
}

.confluence-icon-retrospective {
    background: url("assets/icons/confluence-icon-retrospective.svg") no-repeat;
}

.confluence-icon-task-report {
    background: url("assets/icons/confluence-icon-task-report.svg") no-repeat;
}

.confluence-icon-playbook-daci {
    background: url("assets/icons/confluence-icon-playbook-daci.svg") no-repeat;
}

.confluence-icon-playbook-experience-canvas {
    background: url("assets/icons/confluence-icon-playbook-experience-canvas.svg") no-repeat;
}

.confluence-icon-playbook-health-monitor {
    background: url("assets/icons/confluence-icon-playbook-health-monitor.svg") no-repeat;
}

.confluence-icon-playbook-project-poster {
    background: url("assets/icons/confluence-icon-playbook-project-poster.svg") no-repeat;
}

.confluence-icon-troubleshoot {
    background: url("assets/icons/confluence-icon-troubleshoot.svg") no-repeat;
}

.confluence-icon-how-to {
    background: url("assets/icons/confluence-icon-how-to.svg") no-repeat;
}

.confluence-icon-grab-handle {
    background: url("assets/icons/confluence-icon-grab-handle.svg") no-repeat;
}

.confluence-icon-status-macro {
    background: url("assets/icons/confluence-icon-status-macro.svg") no-repeat !important;
}